* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
    height: 5vh;
    width: auto;
    max-width: 10vw;
    border: 1px solid gainsboro;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 50%;
}